<div>
    <h1>LOGIN</h1>
    <form action="/login" method="POST">   
    <input type="text" id="correo" name="email" placeholder="Correo" required>
    <input type="text" id="nombre" name="username" placeholder="Nombre" required>
    <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
    <button type="submit" id="loginSend">Login</button>
</form>
</div>